//colors//
$pastel-pink:rgb(255, 192, 203);
$pastel-yellow: rgb(252, 252, 112);
$pastel-orange:  rgb(253, 216, 148);
$pastel-green: rgb(168, 250, 168);
$pastel-purple:  rgb(255, 141, 255);
$pastel-blue: rgb(157, 157, 248);

$blue-button-hover: rgb(125, 125, 245);
$orange-button-hover:   rgb(245, 125, 125);
$pink-button-hover:  rgb(245, 163, 231);
$gold-button-hover: rgb(230, 208, 86);


$fw-bold: 4em;
//